/* general */
* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1000px;
    padding: 15px;
    background-color: lightyellow;
    margin: 0 auto;
}

/* app */
.app__content {
    border: 1px solid lightgoldenrodyellow;
    margin-top: 15px;
    height: 600px;
    position: relative;
    padding: 15px;
}

/* controls */
.app__controls {
    margin-top: 5px;
}

/* notify */
.app__notify {
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
}

.app__notify-label {
    border: 1px solid #f2d900;
    background-color: #ffeb3b;
    padding: 10px;
}

/* balls */
.balls {
    position: relative;
}

/* simple ball */
.ball {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 17px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: lightgreen;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ball:before,
.ball:after {
    position: absolute;
    color: #cecece;
    top: 10px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.ball:before {
    content: "↑";
    font-size: 18px;
}
.ball:after {
    content: "Heavy :-)";
    margin-left: -22px;
}

/* heavy ball */
.ball.ball--heavy {
    background-color: mediumseagreen;
}

.ball.ball--heavy:before,
.ball.ball--heavy:after {
    opacity: 1;
}

.ball.ball--heavy:before {
    top: 25px;
}
.ball.ball--heavy:after {
    top: 50px;
}

/* step */
.step__title {}
.step__description {
    color: #cecece;
    margin: 10px 0;
}