/* general */
* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 600px;
    padding: 15px;
    background-color: lightyellow;
    margin: 0 auto;
}

/* app */
.app__description {
    font-size: 14px;
    color: #444;
}

.app__content {
    border: 1px solid lightgoldenrodyellow;
    margin-top: 15px;
    min-height: 100px;
    position: relative;
    padding: 15px;
}

/* controls */
.app__controls {
    margin-top: 5px;
}

/* notify */
.app__notify {
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
}

.app__notify-label {
    border: 1px solid #f2d900;
    background-color: #ffeb3b;
    padding: 10px;
}

/* balls */
.balls {
    position: relative;
}

/* simple ball */
.ball {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 17px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: lightgreen;
    font-size: 12px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ball.ball--group-1 {
    background-color: #ff9393;
}
.ball.ball--group-2 {
    background-color: #6cbcff;
}
.ball.ball--group-3 {
    opacity: .5;
}

.ball:before,
.ball:after {
    position: absolute;
    color: #cecece;
    top: 10px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.ball:before {
    content: "↑";
    font-size: 18px;
    left: 5px;
}
.ball:after {
    content: "Heavy :-)";
    left: -10px;
    width: 50px;
}

/* heavy ball */
.ball.ball--heavy {
    box-shadow: 0px 4px 12px #b9b9b9;
}

.ball.ball--heavy:before,
.ball.ball--heavy:after {
    opacity: 1;
}

.ball.ball--heavy:before {
    top: 25px;
}
.ball.ball--heavy:after {
    top: 50px;
}

/* step */
.steps.steps--step-5 .step-1 .steps__help {
    display: none;
}
.steps.steps--step-5 .step-5 .steps__help {
    display: block;
}

.steps__help {
    position: absolute;
    bottom: 10px;
    font-size: 32px;
    color: #cecece;
    font-weight: 100;
}

.step:first-child {
    margin-top: 0;
}

.step {
    display: none;
    margin-top: 60px;
}

.step.step--current {
    margin-bottom: 80px;
}

.step__result {
    margin-top: 50px;
}
.variant {
    display: none;
}
.step__result .balls {
    margin-top: 10px;
}

.step__title {}
.step__description {
    color: #cecece;
    margin: 10px 0;
}